<h1>Editing user</h1>

<%= render "form", user: @user, user_type_options: @user_type_options %>

<br>

<div>
  <%= link_to "Show this user", @user %> |
  <%= link_to "Back to users", users_path %>
</div>
