<h1>Notifications</h1>
<% @unconfirmed_users.each do |user| %>
  <p style="margin-bottom: 5px;"><strong><%= user.email %></strong> wants to ask permission to trade. <%= button_to("Approve", admin_user_approve_path(user), method: :put)%></p>
<% end %>
