<% if current_user.admin? %>
  <div>
    <%= link_to "New User", new_user_path %>
  </div>
  <div>
    <%= link_to "All Users", users_path %>
  </div>
<% end %>
<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
