<% if current_user.admin? %>
  <div>
    <%= link_to "New User", new_user_path %>
  </div>
  <div>
    <%= link_to "All Users", users_path %>
  </div>
<% end %>
<%= link_to "Portfolio Page", user_portfolio_path(current_user) %>

