<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hello there,</p>
    <p>Your trading request has been approved. You can now start trading.</p>
  </body>
</html>
